    /* 
    < 20rem
    30rem
    37.5rem
    48rem
    56.25rem
    64 rem
    > 75 rem
    */

    .responsive-categories {
        display: none !important;
    }

    /* 320px to 480px */
    @media screen and (min-width: 20rem) and (max-width: 30rem) {

        /* Nav bar */
        .nav-bar {
            padding: 0;
        }

        .icon-svg {
            width: 100px !important;
            padding: 0 6px 0 16px !important;
        }

        .nav-left button {
            font-size: 16px !important;
        }

        .nav-bar ul {
            display: none
        }

        /* Movie Detail */
        .movie-detail-bigContainer {
            max-width: 100% !important;
        }

        .movie-detail-container {
            flex-wrap: wrap !important;
        }

        .movie-detail-container>div {
            width: 100% !important;
        }
    }

    /* 480px to 768px */
    @media screen and (min-width: 30rem) {
        .icon-svg {
            width: 100px !important;
            padding: 0 6px 0 16px !important;
        }

        .nav-bar ul {
            display: none
        }

        /* Movie Detail */
        .movie-detail-bigContainer {
            max-width: 80% !important;
        }

        .movie-detail-container {
            flex-wrap: wrap !important;
        }

        .movie-detail-container>div {
            width: 100% !important;
        }
    }

    /* 768px to 900px */
    @media screen and (min-width: 48rem) {
        .nav-bar ul {
            display: none
        }

        /* Movie Detail */
        .movie-detail-bigContainer {
            max-width: 60% !important;
        }

        .movie-detail-container {
            flex-wrap: wrap !important;
        }

        .movie-detail-container>div {
            width: 100% !important;
        }
    }

    /* 900px to 1024px */
    @media screen and (min-width: 56.25rem) {
        .nav-bar ul {
            display: none
        }

        
        /* Movie Detail */
        .movie-detail-bigContainer {
            max-width: 50% !important;
        }

        .movie-detail-container {
            flex-wrap: wrap !important;
        }

    }

    /* 1024px to 1200px */
    @media screen and (min-width: 64rem) and (max-width: 75rem) {
        .nav-bar ul {
            font-size: .85rem;
        }

        /* Movie Detail */
        .movie-detail-container>div {
            width: 50% !important;
        }
        .movie-detail-container {
            flex-wrap: nowrap !important;
        }
    }

    /* > 1200px */
    @media screen and (min-width: 75rem) {
        .nav-bar ul {
            font-size: .85rem;
        }

        /* Movie Detail */
        .movie-detail-container>div {
            width: 50% !important;
        }
        .movie-detail-container {
            flex-wrap: nowrap !important;
        }
    }