.App,
#root,
body {
  height: 100%;
  text-align: center;
  background-color: #141414;
}

.App{
  position: relative;
  z-index: 0;
}

.login-background::before{
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(imgs/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: multiply; */
  opacity: 0.3;
}

.icon-svg{
  padding: 2em;
}

span{
  display: inline-block;
  cursor: pointer;
}

span:hover{
  text-decoration: underline;
}
/* <button className="form-btns" mt='1em'>Iniciar sesión</button> */

.suscribe{
  color:'white';
  cursor:'pointer';
  color: white;
}

.more-info{
  color: #0071eb;
}

.form-btns{
  /* display: block; */
  margin: .65em 0;
  background-color: #DB0000;
  width: 100%;
  padding: .65rem;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700; 
}