.App,
#root,
body {
  height: 100%;
  text-align: center;
  background-color: #141414;
}

.App{
  position: relative;
  z-index: 0;
}

.login-background::before{
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(imgs/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: multiply; */
  opacity: 0.3;
}

.icon-svg{
  padding: 2em;
}

span{
  display: inline-block;
  cursor: pointer;
}

span:hover{
  text-decoration: underline;
}
/* <button className="form-btns" mt='1em'>Iniciar sesión</button> */
.nav-left .icon-svg{
  width: 150px;
  padding: 1em 2em;
}

.suscribe{
  color:'white';
  cursor:'pointer';
  color: white;
}

.more-info{
  color: #0071eb;
}

.form-btns{
  margin: .65em 0;
  background-color: #DB0000;
  width: 100%;
  padding: .65rem;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700; 
}

form input{
  margin: .5em 0;
  padding: 0 .5em;
  border-radius: 4px;
  width: 100%;
  height: 2.75rem;
  background-color:#333;
  border:none;
}

form input::placeholder{
  font-weight: 100; 
  color: #8c8c8c;
}

.input-error{
  border: 1px solid red;
}

.input small{
  color: white;
}

/* Nav search */

.nav-search{
  position: relative;
  z-index: 10;
  width: 250px;
}

.nav-search .icon-search{
  position: absolute;
  z-index: 20;
  bottom: 23%;
  right: 0;
}

.input-search{
  display: none ;
  position: absolute ;
  right: -10px ;
  bottom: 0;
  background-color: black;
  width: 0px;
  height: 34px;
  box-shadow: none;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  padding-left: 35px;
  font-size: 16px;
}


.open-input{
  display: block;
  width: 240px;
  border-color: #fff;
}

.open-icon{
  transition: .3s ease all !important;
  right: 200px !important;
}

.avatar-button:hover .avatar-arrow{
  transition: .3s ease all;
  transform: rotate(180deg);
}